@import 'normalize.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'fonts.scss';

@import 'blocks/page.scss';
@import 'blocks/header.scss';
@import 'blocks/bookies-nav.scss';
@import 'blocks/main-nav.scss';
@import 'blocks/logo.scss';
@import 'blocks/nav-open.scss';
@import 'blocks/login.scss';
@import 'blocks/search.scss';
@import 'blocks/footer.scss';
@import 'blocks/slider.scss';
@import 'blocks/rating.scss';
@import 'blocks/index.scss';
@import 'blocks/video.scss';
@import 'blocks/section-heading.scss';
@import 'blocks/viewmore-btn.scss';

@import 'blocks/feedback.scss';
@import 'blocks/rating-link.scss';
@import 'blocks/rating-overview.scss';
@import 'blocks/rating-stars.scss';
@import 'blocks/rating-table.scss';
@import 'blocks/rating-bonus.scss';

@import 'blocks/forecasts-table.scss';
@import 'blocks/matches-table.scss';

@import 'blocks/age-label.scss';
@import 'blocks/download-links.scss';
@import 'blocks/edition-descr.scss';
@import 'blocks/footer-link.scss';
@import 'blocks/footer-links.scss';
@import 'blocks/social-links.scss';
@import 'blocks/footer-logo.scss';

@import 'blocks/news-card.scss';
@import 'blocks/announce-card.scss';
@import 'blocks/betting-news-card.scss';
@import 'blocks/events-filter.scss';
@import 'blocks/editors-card.scss';
@import 'blocks/clip.scss';
@import 'blocks/video-link.scss';
@import 'blocks/bonus-card.scss';
@import 'blocks/betting-school-card.scss';
@import 'blocks/heading-wrap.scss';
@import 'blocks/news.scss';
@import 'blocks/announcements.scss';
@import 'blocks/betting-news.scss';
@import 'blocks/bonuses.scss';
@import 'blocks/betting-school.scss';
@import 'blocks/advert-wide.scss';
@import 'blocks/advert-narrow.scss';

@import 'blocks/slide.scss';
@import 'blocks/vk-vidget.scss';
@import 'blocks/page-header.scss';
@import 'blocks/matches-page.scss';
@import 'blocks/matches-full.scss';
@import 'blocks/forecasts-page.scss';
@import 'blocks/forecasts-full.scss';

@import 'blocks/matches.scss';
@import 'blocks/forecasts.scss';
@import 'blocks/expand-btn.scss';
@import 'blocks/project.scss';

@import 'blocks/project-header.scss';
@import 'blocks/event-descr.scss';

@import 'blocks/reviews.scss';

@import 'blocks/betting-school-page.scss';
@import 'blocks/betting-school-full.scss';
@import 'blocks/betschool-full-card.scss';
@import 'blocks/viewmore-link.scss';

@import 'blocks/bonuses-page.scss';
@import 'blocks/bonuses-full.scss';
@import 'blocks/bonus-full-card.scss';
@import 'blocks/subscription.scss';
