$text-color: #6e6e6e;
$page-color: #ffffff;
$bets-yellow: #fecc00;
$bets-yellow-light: #ffda42;

$section-back: #f7f9fa;
$page-header-back: #f7f9fa;

$header-color: #ffffff;
$header-back: #262627;
$footer-color: #9e9d9d;
$footer-back: $header-back;
$footer-logo-color: #797979;
$footer-links-heading: #b8b8b8;
$footer-links: #8c8c8c;

$menu-back: #202021;
$hover-color: $menu-back;

$logo-star-color: #3b3b40;
$search-color: #929292;
$login-back: #323234;

$icon-like-color: #63f5f0;
$icon-badge-color: #f93838;
$icon-phone-color: #7595fe;
$icon-gift-color: #79f760;

$slider-back: #000000;
$rating-color: #aeaeae;
$rating-comments: #a8a8a8;
$rating-headers: $page-color;
$rating-back: #313134;
$rating-overview-back: #434347;
$rating-overview-text: #b0b0b2;
$rating-link: $rating-back;
$rating-stars: #88888b;
$rating-table-border: #424245;
$rating-bonus: #51b3fe;
$rating-lnk-border: #7a7a7d;

$table-border: #dae5ed;

$age-label-color: #4a4a4f;
$age-label-border: #454547;

$page-header: #313134;
$section-heading: #313134;
$table-text: $section-heading;
$table-light-text: #5e5e5e;

$card-heading: $section-heading;
$card-back: #ffffff;
$card-heading-light: #ffffff;
$card-pict-back: #000000;
$card-text: $text-color;
$card-text-light: #d5d5d5;
$card-border: $table-border;
$card-back-dim: #f7f6f6;
$card-comments-text: #7b7b7f;

$expand-btn-color: $section-heading;
$viewmore-btn-color: $rating-bonus;
$tags-color: $rating-bonus;

$slider-btn: #262627;

$video-text: #c4c4d4;
$video-back: #181824;
$video-heading: #ffffff;
$video-symbol: #ff0000;

$filter-back: #f5f5f5;
$filter-text: #313134;
$filter-selected: #51b3fe;
$filter-symbol: #010101;
$filter-border: #cad0d7;

$intro-text: #434343;

$matches-heading-circle: #e9e9e9;

$shadow-color: #d2d2d2;
$shadow-light: #efefef;

$project-header-back: #f5f5f5;
$project-header-color: #313134;
$event-title: #78787c;
$viewmore-link: #69696a;
$viewmore-link-arrow: #4a4a4b;

$subscription-back: #5d90b1;

$mob: 700px;
$w800: 800px;
$w900: 900px;
$desktop: 1140px;
$w1200: 1200px;
$desktop-w: 1280px;
$w1450: 1450px;
$w1550: 1550px;
$w1700: 1700px;
$hd: 1920px;
