.betting-news-card {
  display: block;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 11px;
  background-color: $card-back;
  
  @media (min-width: $mob) {
    width: 275px;
    height: 400px;
    margin: 0;
  }
  
  &_wide {
    height: 800px;

    @media (min-width: $mob) {
      display: flex;
      width: 562px;
      height: 400px;
    }
  }
  
  &_wide &__wrap {
    display: block;
    width: 100%;
    
    @media (min-width: $mob) {
      width: 275px;
      height: 400px;
    }
  }
  
  &_big-picture {
    position: relative;
    
    &:before {
      position: absolute;
      z-index: 2;
      display: block;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 170px;
      background-image: linear-gradient(to top, $card-pict-back 70px, transparent 170px);
      opacity: 0.8;
    }
  }

  &__label {
    width: 80px;
    height: 17px;
    padding: 0;
    margin: 12px auto 11px;;
    padding-top: 6px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: $card-heading;
    background-color: $bets-yellow;
  }
  
  &_wide &__label {
    margin: 0;
    margin-top: 34px;
    margin-left: 18px;
  }
  
  &_big-picture &__label {
    position: absolute;
    z-index: 5;
    top: 28px;
    left: 0;
    margin: 0;
  }
  
  &__title {
    width: 230px;
    height: 72px;
    padding: 0;
    margin: 0 auto 16px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    color: $card-heading;
    overflow: hidden;
  }
  
  &_wide &__title {
    margin: 0;
    margin-top: 8px;
    margin-left: 18px;
    width: 240px;
    font-size: 18px;
    text-align: left;
  }
  
  &_big-picture &__title {
    position: absolute;
    z-index: 5;
    left:30px;
    top: 308px;
    width: 214px;
    margin: 0;
    font-size: 18px;
    text-align: left;
    color: $card-heading-light;

    @media (min-width: $mob) {
      left: 20px;
    }
  }
  
  &__date {
    width: 110px;
    max-height: 24px;
    padding: 0;
    margin: 0 auto;
    font-size: 11px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: $card-heading;
    overflow: hidden;
  }
  
  &_wide &__date {
    margin: 0;
    margin-top: 6px;
    margin-left: 18px;
    width: 120px;
    font-size: 12px;
    text-align: left;
  }
  
  &_big-picture &__date {
    position: absolute;
    z-index: 5;
    left:30px;
    top: 282px;
    font-size: 12px;
    width: 120px;
    text-align: left;
    color: $card-heading-light;
    
    @media (min-width: $mob) {
      left: 20px;
    }
  }
  
  &__pict {
    width: 300px;
    height: 228px;
    
    @media (min-width: $mob) {
      width: 275px;
      height: 228px;
    }
  }
  
  &_wide &__pict {
    width: 300px;
    height: 400px;
    
    @media (min-width: $mob) {
      width: 287px;
      height: 400px;
    }
  }
  
  &_big-picture &__pict {
    width: 300px;
    height: 400px;
    
    @media (min-width: $mob) {
      width: 275px;
      height: 400px;
    }
  }
  
  &_wide &__tags {
    display: flex;
    width: 220px;
    margin-top: 18px;
    margin-left: 18px;
    max-height: 24px;
    overflow: hidden;
  }
  
  &__tag {
    margin: 0;
    padding: 0;
    margin-right: 12px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    font-style: italic;
    color: $tags-color;
  }
  
  &_wide &__descr {
    width: 240px;
    height: 72px;
    margin: 0;
    padding: 0;
    margin-top: 28px;
    margin-left: 18px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    color: $card-text;
    overflow: hidden;
  }
}
