.bonuses-full {
  display: block;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $mob) {
    margin: 0;
    width: 380px;
  }
  
  @media (min-width: $w900) {
    width: 545px;
  }

  @media (min-width: $w1200) {
    width: 840px;
  }
  
  &__articles-wrap {
    
  }
  
  & .expand-btn {
    margin-top: 18px;
    margin-left: calc((100% - 300px)/2);
    margin-bottom: 32px;
    
    @media (min-width: $mob) {
      margin-top: 20px;
      margin-left: 0;
      margin-bottom: 40px;
    }
    
    @media (min-width: $w1200) {
      margin-bottom: 60px;
    }
  }
  
  & .subscription {
    margin-bottom: 75px;
    
    @media (min-width: $w1200) {
      margin-bottom: 90px;
    }
  }
}
