.bonus-item {
  display: block;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $mob) {
    margin: 0;
    width: 350px;
  }
  
  @media (min-width: $w900) {
    width: 545px;
  }

  @media (min-width: $w1200) {
    width: 846px;
  }
  
  &__card {
    width: 100%;
    border: 1px solid $card-border;
  }
  
  &__pict {
    display: block;
    width: 320px;
    height: 183px;
    margin: 0 auto;
    
    @media (min-width: $mob) {
      width: 100%;
      max-width: 846px;
      height: auto;
    }
    
    @media (min-width: $w1200) {
      width: 846px;
      height: 477px;
    }
    
  }
  
  &__logo {
    display: block;
    width: 150px;
    height: 57px;
    margin: 8px auto 18px;
    
    @media (min-width: $mob) {
      margin: 16px auto;
    }
  }
  
  &__card-wrap {
    display: block;
    width: 100%;
    
    @media (min-width: $w900) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 400px;
      margin: 0 auto 20px;
    }
  }
  
  &__descr {
    width: 280px;
    max-height: 78px;
    margin: 0 auto 8px;
    padding: 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: $card-heading;
    overflow: hidden;
    
    @media (min-width: $w900) {
      width: 500px;
      max-height: 72px;
      margin-bottom: 18px;
      font-size: 28px;
      line-height: 36px;
    }
    
  }
  
  &__value {
    display: block;
    width: 300px;
    margin: 0 auto 10px;
    padding: 0;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    color: $bets-yellow;
    
    @media (min-width: $w900) {
      margin: 0;
      width: 160px;
      text-align: right;
    }
  }
  
  &__btn {
    display: block;
    width: 206px;
    height: 24px;
    margin: 0 auto 30px;
    padding: 0;
    padding-top: 13px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $card-heading;
    background-color: $bets-yellow;
    border: 1px solid transparent;
    border-radius: 18px;
   
    &:hover {
      background-color: $bets-yellow-light;
    }
    
    @media (min-width: $w900) {
      flex-shrink: 0;
      margin-bottom: 0;
    }
  }
  
  &__details {
    width: 300px;
    padding: 0;
    margin: 10px auto 15px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $card-heading;
    
    @media (min-width: $mob) {
      width: 100%;
      margin: 30px 0;
    }
    
    & p {
      padding: 0;
      margin: 0;
      padding-top: 14px;
    }
    
  }
  
  & .subscription {
    margin-bottom: 75px;
    
    @media (min-width: $mob) {
      width: 100%;
    }
    
    @media (min-width: $w1200) {
      margin-bottom: 90px;
    }
  }
  
  & .share-links {
    margin-bottom: 16px;
    
    @media (min-width: $mob) {
      margin-bottom: 22px;
    }
  }
  
}
