.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
  width: calc(100% - 20px);
  min-height: 24px;
  padding: 0;
  margin: 0 10px;
  list-style: none;
  
  @media (min-width: $mob) {
    width: 100%;
    min-height: 24px;
    margin-left: 0;
  }
  
  &__item {
    position: relative;
    display: block;
    margin-right: 13px;
    
    &:after {
      position: absolute;
      display: block;
      content: '/';
      z-index: 1;
      top: 6px;
      right: -10px;
      font-size: 12px;
      line-height: 12px;
      font-weight: 700;
      color: $breadcrumbs-color;
    }

    &_active:after {
      display: none;
    }
  }
  
  &__item_active &__link {
    color: $breadcrumbs-active;
  }

  &__item_active:hover &__link{
    cursor: default;
  }

  &__link {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    color: $breadcrumbs-color;
    text-transform: uppercase;
    text-decoration: none;
  }
}
