.events-filter {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  min-height: 152px;
  background-color: $filter-back;
  
  @media (min-width: $mob) {
    width: 100%;
    margin: 0;
  }
  
  @media (min-width: $w900) {
    align-items: center;
    min-height: 100px;
  }
  
  @media (min-width: $w1200) {
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 68px;
  }
  
  &__title {
    margin: 0;
    padding: 0;
    margin-right: 15px;
    margin-top: 32px;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: $filter-text;
    
    @media (min-width: $w900) {
      margin-top: 0;
    }
    
    @media (min-width: $w1200) {
      margin-right: 0;
    }
  }
  
  &__form {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 300px;
    margin-left: 10px;
    
    @media (min-width: $w900) {
      align-items: center;
      justify-content: space-around;
      width: 470px;
    }
    
    @media (min-width: $w1200) {
      width: 444px;
    }
  }
  
  select::-ms-expand {
    display: none;
  }
  
  &__select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: 170px;
    height: 34px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-family: $gotham;
    font-size: 16px;
    font-weight: 400;
    color: $filter-text;
    outline: none;
    border: none;
    background-color: $filter-back;
    background-repeat: no-repeat;
    background-position: 158px 14px;
    background-size: 10px 7px;
    background-image: url('../images/arrow-down.svg');
    border-bottom: 1px solid $filter-border;
    
    @media (min-width: $w900) {
      margin-top: 0;
    }
      
    &:last-child {
      margin-top: 4px;
      
      @media (min-width: $w900) {
        margin-top: 0;
      }
    }
  }
  
  &__types {
    display: flex;
    align-items: flex-start;
    width: 300px;
    margin-left: 10px;
    padding-top: 10px;
    
    @media (min-width: $w900) {
      align-items: center;
      justify-content: space-between;
      width: 470px;
      margin-left: 20px;
      padding-top: 0;
    }
    
    @media (min-width: $w1200) {
      justify-content: flex-start;
      width: 253px;
      margin-left: 0;
    }
  }
  
  &__type {
    padding: 0;
    margin: 0;
    margin-right: 18px;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: $filter-text;
    
    &_selected {
      color: $filter-selected;
      cursor: default;
    }
  }
}
