.forecast-page {
  display: block;
  min-width: 320px;
  width: 100%;
  
  &__wrap {
    display: block;
    width: 100%;
    margin-top: 20px;
    
    @media (min-width: $w900) {
      display: flex;
      justify-content: space-between;
      width: 845px;
      margin: 44px auto 0;
      max-width: $desktop;
      min-height: 2000px;
    }
    
    @media (min-width: $w1200) {
      width: $desktop;
    }
  }
  
  &__sidebar {
    display: none;
    
    @media (min-width: $w900) {
      display: block;
    }
    
    & .section-heading_small {
      padding-top: 24px;
    }
    
    & .vk-vidget {
      margin-top: 0;
    }
    
    & .advert-narrow {
      margin-top: 30px;
    }
  }

}
