.matches-table {
  display: table;
  width: 300px;
  margin: 0 auto;
  border-collapse: collapse;
  
  @media (min-width: $w900) {
    width: 564px;
  }
  
  @media (min-width: $w1200) {
    width: 853px;
  }
  
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 190px;
    border-bottom: 1px solid $table-border;
    
    @media (min-width: $w1200) {
      flex-wrap: nowrap;
      min-height: 64px;
      width: 851px;
      border: 1px solid $table-border;
      border-top: none;
    }
    
    &:hover {
      @media (min-width: $mob) {
        box-shadow: 0 25px 50px 3px $shadow-color,
          0 -3px 8px 0 $shadow-light;
        border-color: $page-color;
      }
    }
  }
  
  &__col {
    @media (min-width: $w1200) {
      height: 64px;
      display: flex;
      align-items: center;
    }
    
    &_1 {
      margin-right: calc((100% - 84px)/2);
      margin-left: calc((100% - 84px)/2);
      
      @media (min-width: $w1200) {
        flex-direction: column;
        justify-content: center;
        width: 106px;
        margin: 0;
      }
    }
    
    &_2 {
      @media (min-width: $w1200) {
        margin-right: 10px;
      }
    }
    
    &_6 {
      @media (min-width: $w1200) {
        margin-right: 10px;
      }
    }
    
    &_7 {
      margin-left: calc((100% - 220px)/2);
      
      @media (min-width: $w1200) {
        margin: 0;
      }
    }
    
    &_8 {
      @media (min-width: $w1200) {
        margin-right: 10px;
      }
    }
    
    &_9 {
      margin-right: calc((100% - 220px)/2);
      
      @media (min-width: $w1200) {
        margin: 0;
      }
    }
  }
  
  &__row:hover &__col {
    @media (min-width: $w1200) {
      border-color: $page-color;
    }
  }
  
  .matches-full  &__row:first-child {
    @media (min-width: $w1200) {
      border-top: 1px solid $table-border;
    }
  }
  
  &__date {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: $table-text;
    
    @media (min-width: $w1200) {
      margin-top: 0;
    }
  }
  
  &__time {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: $bets-yellow;
  }
  
  &__ratio {
    margin-right: 26px;
    font-size: 16px;
    font-weight: 400;
    color: $table-text;
    
    @media (min-width: $w1200) {
      width: 64px;
      margin-right: 0;
    }
  }

  &__col_9 &__ratio {
    margin-right: 0;
  }
  
  &__ratio-descr {
    margin-right: 6px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: $table-text;
  }
  
  &__player {
    width: 76px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: $table-text;
    
    @media (min-width: $w900) {
      width: 180px;
    }
    
    &_1 {
      margin-right: 4px;
      text-align: right;
      
      @media (min-width: $w900) {
        margin-right: 10px;
      }
      
      @media (min-width: $w1200) {
        width: 200px;
        margin: 0;
      }
      
    }
    
    &_2 {
      margin-left: 10px;
      
      @media (min-width: $w1200) {
        margin: 0;
      }
    }
  }
  
  &__pict {
    width: 35px;
  }
  
  &__result {
    width: 50px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: $table-text;
    
    @media (min-width: $w900) {
      width: 60px;
    }
    
    @media (min-width: $w1200) {
      width: 56px;
    }

  }

}
