.page-header {
  position: relative;
  display: block;
  width: 100%;
  min-height: 90px;
  margin: 0;
  padding: 0;
  padding-top: 51px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: $page-header;
  background-color: $page-header-back;
  @media (min-width: $mob) {
    min-height: 82px;
    padding-top: 60px;
    font-size: 48px;
    line-height: 48px;
    &--news {
      padding-top: 30px;
    }
  }
  
  &:before {
    display: none;

    @media (min-width: $w1200) {
      position: absolute;
      display: block;
      content: '';
      z-index: 1;
      top: 0;
      left: -33px;
      height: 142px;
      width: 406px;
      background: url('../images/star.svg') 0 -48px no-repeat,
        url('../images/star.svg') 240px 61px no-repeat,
        url('../images/star.svg') 347px 5px no-repeat;
      background-size: 259px 249px, 137px 131px, 59px 57px;
      opacity: 0.54;
    }

    @media (min-width: $w1550) {
      left: 66px;
    }
  }

  &:after {
    display: none;

    @media (min-width: $w1200) {
      position: absolute;
      display: block;
      content: '';
      z-index: 1;
      top: 33px;
      right: 120px;
      width: 77px;
      height: 87px;
      background: url('../images/star.svg') left bottom no-repeat,
        url('../images/star.svg') right top no-repeat;
      background-size: 64px 61px, 27px 26px;
      opacity: 0.54;
    }

    @media (min-width: $w1550) {
      right: 230px;
    }

    @media (min-width: $w1700) {
      right: 330px;
    }
  }
}
.page-header__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  li {
    margin-left: 8px;
    margin-right: 8px;
    line-height: 20px;
    margin-bottom: 0;
  }
}
.page-header__link {
  font-size: 12px;
  color: #313134;
  font-weight: 800;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &--active {
    color: #51b3fe;
  }
}

.betschool-full-card__yellow {
  padding: 5px 12px;
  color: #313134;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 14px;
  margin-top: 15px;
  text-transform: uppercase;
  background-color: #fecc00;
  @media (min-width: $mob) {
    margin-top: 0px;
    margin-bottom: 15px;
  }
}
.betschool-full-card__time {
  font-size: 12px;
  color: #313134;
  text-transform: uppercase;
  font-weight: 500;
}
.betschool-full-card__hash {
  font-size: 14px;
  font-style: italic;
  margin-top: 10px;
  font-weight: 500;
  a {
    text-decoration: none;
    color: #51b3fe;
    margin-right: 12px;
  }
}