.page-header {
  position: relative;
  display: block;
  width: 100%;
  min-height: 90px;
  margin: 0;
  padding: 0;
  padding-top: 51px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: $page-header;
  background-color: $page-header-back;
  
  @media (min-width: $mob) {
    min-height: 82px;
    padding-top: 60px;
    font-size: 48px;
    line-height: 48px;
    
    &:before {
      display: none;
      
      @media (min-width: $w1200) {
        position: absolute;
        display: block;
        content: '';
        z-index: 1;
        top: 0;
        left: -33px;
        height: 142px;
        width: 406px;
        background: url('../images/star.svg') 0 -48px no-repeat,
          url('../images/star.svg') 240px 61px no-repeat,
          url('../images/star.svg') 347px 5px no-repeat;
        background-size: 259px 249px, 137px 131px, 59px 57px;
        opacity: 0.54;
      }
      
      @media (min-width: $w1550) {
        left: 66px;
      }
    }
    
    &:after {
      display: none;
      
      @media (min-width: $w1200) {
        position: absolute;
        display: block;
        content: '';
        z-index: 1;
        top: 33px;
        right: 120px;
        width: 77px;
        height: 87px;
        background: url('../images/star.svg') left bottom no-repeat,
          url('../images/star.svg') right top no-repeat;
        background-size: 64px 61px, 27px 26px;
        opacity: 0.54;
      }
      
      @media (min-width: $w1550) {
        right: 230px;
      }
      
      @media (min-width: $w1700) {
        right: 330px;
      }
    }
  }
}
