.rating-table-full {
  display: table;
  width: 320px;
  margin: 25px auto 20px;
  border-collapse: collapse;
  
  @media (min-width: $mob) {
    width: 420px;
  }
  
  @media (min-width: $w900) {
    width: 564px;
    margin: 0;
  }
  
  &__row {
    display: flex;
    flex-wrap: wrap;
    min-height: 108px;
    border-bottom: 1px solid $rating-table-border;
    
    @media (min-width: $w1200) {
      display: table-row;
      border-bottom: 1px solid $rating-table-border;
    }
    
    &:first-child {
      border-top: 1px solid $rating-table-border;
      
      @media (min-width: $w900) {
        border-top: none;
      }
    }
    
    &:nth-child(n+7) {
      display: none;
      
      @media (min-width: $w1200) {
        display: table-row;
      }
    }
  }

  &__col {
    flex-shrink: 0;
    height: 36px;
    
    @media (min-width: $w1200) {
      height: 63px;
    }
    
    &_0 {
      display: none;
      
      @media (min-width: $w1200) {
        display: table-cell;
      }
    }
    
    &_1 {
      width: 100px;
      margin-left: 10px;
      margin-top: 20px;
      
      @media (min-width: $w1200) {
        width: 200px;
      }
    }

    &_2 {
      margin-left: 12px;
      margin-top: 25px;

      @media (min-width: $mob) {
        margin-left: 80px;
      }
      
      @media (min-width: $w900) {
        margin-left: 120px;
      }
    }
    
    &_ext {
      margin-left: 30px;
      margin-top: 20px;
      
      @media (min-width: $mob) {
        margin-left: 80px;
      }
      
      @media (min-width: $w900) {
        margin-left: 120px;
      }
    }
    
    &_3 {
      width: 90px;
      margin-top: -5px;
      margin-left: 10px;
    }
    
    &_4 {
      margin-left: 92px;
      
      @media (min-width: $w900) {
        margin-left: 230px;
      }
    }
    
    &_5 {
      margin-left: 2px;
    }
    
  }
  
  &__col .rating-link {
    @media (min-width: $w900) {
      margin-right: 10px;
      margin-left: 6px;
    }
  }

  &__col .rating-bonus {
    @media (min-width: $w1200) {
      margin-left: 20px;
      margin-right: 50px;
    }
  }
  
  &__col .rating-stars {
    @media (min-width: $w900) {
      margin-left: 20px;
      margin-right: 45px;
    }
  }

  &__pict {
    width: 90px;
    
    @media (min-width: $w1200) {
      margin-left: 20px;
      margin-right: 25px;
      width: 164px;
    }
  }
  
  &__number {
    font-size: 24px;
    font-weight: 700px;
    color: $rating-number;
  }
  
  &__rating {
    display: flex;
    min-width: 64px;
  }
  
  &__rating-symbol {
    width: 17px;
    height: 16px;
    margin-right: 6px;
    fill: $bets-yellow;
  }
  
  &__rating-value {
    font-size: 16px;
    font-weight: 400px;
    color: $rating-value;
  }
}

