.rating-sorting {
  display: block;
  width: 300px;
  margin: 0 auto;
  min-height: 56px;
  background-color: $rating-back;

  @media (min-width: $w900) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    min-height: 68px;
    margin: 0;
    background-color: $rating-sorting-back;
  }
  
  &__title {
    display: block;
    width: 277px;
    height: 35px;
    margin: 0 auto;
    padding: 0;
    margin-top: 4px;
    padding-top: 14px;
    padding-left: 22px;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: $rating-flt-title-mob;
    background-color: $rating-sorting-back;
    background-repeat: no-repeat;
    background-position: 265px 19px;
    background-size: 10px 6px;
    border: 1px solid transparent;
    border-radius: 24px;
    
    &_closed {
      background-image: url('../images/arrow-light-down.svg');
    }
    
    &_opened {
      background-image: url('../images/arrow-light-up.svg');
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    
    @media (min-width: $w900) {
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
      margin-left: 15px;
      margin-right: 10px;
      border-radius: none;
      background-image: none;
      cursor: default;
    }
  }
  
  &__form {
    display: none;
    align-items: center;
    width: 300px;
    height: 70px;
    background-color: $rating-sorting-back;

    
    @media (min-width: $w900) {
      display: block;
      height: 30px;
    }
    
    &_closed {
      display: none;
      
      @media (min-width: $w900) {
        display: block;
      }
    }
    
    &_opened {
      display: flex;
    }
    
  }
  
  select::-ms-expand {
    display: none;
  }
  
  &__select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: 128px;
    height: 30px;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    font-family: $gotham;
    font-size: 16px;
    font-weight: 400;
    color: $rating-filter-title;
    outline: none;
    border: none;
    background-color: $rating-sorting-back;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 15px;
    background-size: 7px 5px;
    background-image: url('../images/triangle.svg');

    @media (min-width: $w900) {
      margin-left: 0;
    }
  }
}
