.rating-bonus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90px;
  
  &_empty {
    display: none;
  }
  
  &__title {
    color: $rating-color;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  &__value {
    color: $rating-bonus;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
