.rating-filter {
  display: block;
  width: 320px;
  margin: 0 auto;
  min-height: 152px;
  background-color: $rating-back;
  
  @media (min-width: $mob) {
    width: 275px;
    margin: 0;
    background-color: $rating-filter-back;
  }
  
  @media (min-width: $w900) {
    min-height: 100px;
  }
  
  @media (min-width: $w1200) {
    min-height: 68px;
  }
  
  &__title {
    display: block;
    width: 278px;
    height: 37px;
    margin: 0 auto;
    padding: 0;
    padding-top: 12px;
    padding-left: 22px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: $rating-flt-title-mob;
    background-color: $rating-flt-back-mob;
    border: 1px solid transparent;
    border-radius: 24px;
    
    @media (min-width: $mob) {
      width: calc(100% - 15px);
      padding-left: 15px;
      padding-top: 18px;
      font-size: 16px;
      color: $rating-filter-title;
      background-color: $rating-filter-back;
      border: none;
      border-radius: none;
    }
    
    @media (min-width: $w1200) {
    }
  }
  
  &__form {
    display: none;
    width: 320px;
    margin: 0 auto;
    background-color: $rating-filter-back;
    
    @media (min-width: $mob) {
      display: block;
      width: 275px;
      margin: 0;
    }
  }
  
  &__label {
    width: calc(100% - 15px);
    height: 36px;
    padding-left: 15px;
    padding-top: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $rating-flt-label;
    border-bottom: 1px solid $rating-flt-border;
    
    &_no-border {
      border-bottom: none;
    }
  }
  
  &__checkbox {
    display: none;
    
    & + label {
      position: relative;
      display: block;
      cursor: pointer;
      
      &:hover {
        color: $bets-yellow;
      }
      
      &:before {
        display: block;
        position: absolute;
        content: '';
        top: 16px;
        right: 11px;
        width: 26px;
        height: 15px;
        border: 1px solid transparent;
        border-radius: 8px;
        background-color: $rating-back;
      }
      
      &:after {
        display: block;
        position: absolute;
        content: '';
        top: 19px;
        right: 23px;
        width: 9px;
        height: 9px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: $rating-flt-checkbox;
      }
    }
    
    &:checked +label:before {
      background-color: $bets-yellow;
    }
    
    &:checked +label:after {
      right: 14px;
      background-color: $rating-back;
    }
    
  }
  
  &__currencies {
    width: 100%;
    background-color: $rating-flt-currencies-back;
  }
  
  &__currencies-link {
    display: block;
    width: calc(100% - 15px);
    height: 36px;
    padding-left: 15px;
    padding-top: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
    color: $rating-flt-label;
    border-bottom: 1px solid $rating-flt-border;
    background-repeat: no-repeat;
    background-position: calc(100% - 19px) 19px;
    background-size: 10px 6px;
    background-image: url('../images/arrow-light-up.svg');
    
    &:hover {
      color: $bets-yellow;
    }
  }
  
  &__btn {
    width: 100%;
    padding: 16px 0;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    outline: none;
    border: none;
    color: $rating-flt-label;
    background-color: transparent;
    cursor: pointer;
    
    &:hover {
      color: $bets-yellow;
    }
  }
  
  select::-ms-expand {
    display: none;
  }
  
  &__select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: calc(100%);
    height: 47px;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    font-family: $gotham;
    font-size: 16px;
    font-weight: 400;
    color: $rating-flt-label;
    outline: none;
    border: none;
    background-color: $rating-filter-back;
    background-repeat: no-repeat;
    background-position: calc(100% - 19px) 19px;
    background-size: 10px 6px;
    background-image: url('../images/arrow-light-down.svg');
    border-bottom: 1px solid $rating-flt-border!important;
  
  }
}
