.rating-page {
  display: block;
  min-width: 320px;
  width: 100%;
  color: $rating-full-color;
  background-color: $rating-back;

  &__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 940px;
    
    @media (min-width: $w900) {
      flex-direction: row;
      justify-content: space-between;
      width: 859px;
      max-width: $desktop;
      // - min-height: 2198px;
      margin: 42px auto 0;
    }
    
    @media (min-width: $w1200) {
      width: $desktop;
      min-height: 1250px;
    }
  }
  
  &__sidebar {
    order: -1;
    
    @media (min-width: $w900) {
      order: 0;
    }
  }

}
