.rating-sorting {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  min-height: 152px;
  background-color: $rating-sorting-back;
  
  @media (min-width: $mob) {
    width: 100%;
    margin: 0;
  }
  
  @media (min-width: $w900) {
    align-items: center;
    min-height: 100px;
  }
  
  @media (min-width: $w1200) {
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 68px;
  }
  
  &__title {
    margin: 0;
    padding: 0;
    margin-right: 15px;
    margin-top: 32px;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: $rating-flt-title-mob;
    
    @media (min-width: $mob) {
      margin-top: 0;
    }
    
    @media (min-width: $w1200) {
      margin-right: 10px;
    }
  }
  
  &__form {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 300px;
    margin-left: 10px;
    
    @media (min-width: $mob) {
      margin-left: 20px;
      align-items: baseline;
    }
    
  }
  
  select::-ms-expand {
    display: none;
  }
  
  &__select {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: 128px;
    height: 30px;
    margin: 0;
    padding: 0;
    font-family: $gotham;
    font-size: 16px;
    font-weight: 400;
    color: $rating-filter-title;
    outline: none;
    border: none;
    background-color: $rating-sorting-back;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 15px;
    background-size: 7px 5px;
    background-image: url('../images/triangle.svg');

  }
  
}
