.index__contain-big {
  @media (min-width: $w1200) {
    width: 1140px;
    .heading-wrap_bonus {
      margin-left: 0;
      margin-bottom: 14px;
    }
    .section-heading {
      font-size: 24px;
    }
  }
}

/*Шапка отзывов/обзоров*/
.reviews__header {
	background: url(../images/reviews__header.jpg) no-repeat center top;
	padding-top: 80px;
	padding-bottom: 0;
	@media (max-width: $mob) {
		padding-top: 22px;
	}
    @media (max-width: 768px) {
    	background-size: cover;
    }
}
.reviews__header-main {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	@media (max-width: $mob) {
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
	}
}
.reviews__header-box {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
	@media (max-width: $mob) {
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
}
.reviews__header-logo {
	background-color: #fff;
	width: 280px;
	padding-top: 35px;
	padding-bottom: 33px;
	padding-left: 16px;
	padding-right: 19px;
	box-sizing: border-box;
	margin-right: 22px;
	img {
		display: block;
		max-width: 100%;
	}
	@media (max-width: $mob) {
		width: 186px;
		padding: 23px 12px;
		margin-bottom: 12px;
	}
}
.reviews__header-breadcrumbs {
	p {
		color: #51b3fe;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 0;
	}
	span {
		color: #fff;
	}
	h1 {
		font-size: 60px;
		font-weight: 500;
		margin-top: 0;
		margin-bottom: 0;
		color: #fff;
	}
	@media (max-width: $mob) {
		h1 {
			font-size: 50px;
		}
	}
}
.reviews__header-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 18px;
	li {
		padding-left: 25px;
		position: relative;
		&:before {
			position: absolute;
			left: 0;
			top: 5px;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			content: '';
			background-color: #fecc00;
		}
	}
}

.reviews__header-flex {
	margin-top: 30px;
	margin-bottom: 22px;
	display: flex;
	align-items: center;
    @media (max-width: 768px) {
    	flex-wrap: wrap;
    }
}
.reviews__header-statistic {
	display: flex;
	@media (max-width: $mob) {
		flex-wrap: wrap;
		margin-bottom: 9px;
		justify-content: center;
	}
}
.reviews__header-black {
	width: 170px;
	background-color: rgba(17,17,17,.8);
	margin-right: 1px;
	text-align: center;
	padding-top: 23px;
	padding-bottom: 10px;
	b {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 500;
		color: #ababab;
		display: block;
		margin-bottom: 7px;
	}
	small {
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
		color: #ababab;
		margin-top: -7px;
	}
	span {
		font-size: 26px;
		color: #51b3fe;
	}
    @media (max-width: 768px) {
    	margin-bottom: 20px;
    }
	@media (max-width: $mob) {
		margin-bottom: 1px !important;
		margin-right: 0;
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
		width: 100%;
		align-items: center;
		padding: 9px 17px;
		b {
			margin-bottom: 0;
		}
		small {
			margin-top: 1px;
		}
    }
}
.reviews__growth {
	fill: #fecc00;
	@media (max-width: $mob) {
		margin-left: auto;
		margin-right: 11px;
	}
}
.reviews__rating-stars {
	width: 113px;
	margin: 0 auto;
	svg {
		width: 20px;
		height: 20px;
	}
	@media (max-width: $mob) {
		margin-right: 0;
	}
}

.reviews__header-like {
	margin-left: 28px;
	display: flex;
	align-items: center;
	color: #313134;
	text-decoration: none;
	margin-right: 19px;
	img {
		width: 23px;
	}
	span {
		padding: 7px 17px;
		background-color: #fff;
		border-radius: 7px;
		font-size: 16px;
		margin-left: 18px;
		position: relative;
		&:before {
			background-color: transparent;
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-top: 5px solid transparent;
			border-right: 10px solid #fff;
			border-bottom: 5px solid transparent;
			left: -9px;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
	@media (max-width: $mob) {
		margin-left: auto;
	}
}
.reviews__header-btn {
	font-size: 12px;
	min-width: 193px;
	max-width: 193px;
	display: block;
	text-align: center;
	height: 37px;
	line-height: 37px;
	border-radius: 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	@media (max-width: $mob) {
		margin-right: auto;
		min-width: 170px;
	}
}
.reviews__header-tabs {
	@media (max-width: $mob) {
		text-align: center;
	}
}
.reviews__header-tab {
	border-radius: 8px 8px 0 0;
	width: 119px;
	display: inline-block;
	vertical-align: middle;
	padding: 11px 0;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	background-color: #242425;
	span {
		color: #51b3fe;
		font-weight: 500;
		margin-left: 2px;
	}
	&--active {
		background-color: #fff;
		color: #313134;
	}
}

/*Контент*/
.reviews__tab {
	display: none;
	&--active {
		display: block;
	}
}
.reviews__main {
	padding-top: 20px;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	@media (max-width: 768px){
		flex-wrap: wrap;
	}
}
.reviews__content {
	max-width: 765px;
	flex-grow: 1;
	@media (max-width: $mob) {
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
		width: 100%;
	}
}
.reviews__text {
	font-size: 15px;
	line-height: 24px;
}
.reviews__text-title {
	font-size: 22px;
	margin-top: 40px;
	margin-bottom: 30px;
	font-weight: 500;
}


.reviews__tango {
	margin-top: 23px;
}
.reviews__tango-see {
	display: none;
	&--active {
		display: block;
	}
}
.reviews__tango-title {
	width: 94.5%;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 4px;
	padding-left: 21px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
	margin-top: 0;
	cursor: pointer;
	b {
		font-weight: 500;
		font-size: 20px;
	}
	@media (max-width: $mob) {
		box-sizing: border-box;
		width: 100%;
		b {
			line-height: 24px;
			font-size: 16px;
			padding-right: 10px;
		}
	}
}
.reviews__tango-btn {
	border-radius: 6px;
	position: relative;
	background-color: #fecc00;
	width: 40px;
	height: 40px;
	svg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&--active {
		svg {
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}
}

.reviews__tango-content {
	margin-top: 25px;
	margin-bottom: 40px;
	&--flex {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@media (max-width: $mob) {
			flex-wrap: wrap;
		}
	}
}
/*преимущества*/
.reviews__tango-likes {
	b {
		font-size: 15px;
		text-transform: uppercase;
		display: block;
		margin-bottom: 20px;
	}
	ul {
		max-width: 320px;
		width: 100%;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	li {
		margin-bottom: 15px;
		padding-left: 30px;
		line-height: 24px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		&:before {
			background: url(../images/thumbs-up.png) no-repeat;
			background-size: cover;
			width: 17px;
			height: 18px;
			content: '';
			position: absolute;
			left: 0;
			top: -1px;
		}
	}
	&--dis {
		li:before {
			top: -1px;
			background-image: url(../images/thumbs-dis.png) !important;
		}
		@media (max-width: $mob) {
			margin-top: 20px;
			li:before {
				top: 4px;
			}
		}
	}
}
/*Платежки*/
.reviews__tango-pays {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 20px;
	margin-bottom: 35px;
	@media (max-width: $mob) {
		flex-wrap: wrap;
		justify-content: space-around;
		a {
			margin-bottom: 20px;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}


/*Сайтбар*/
.reviews__sidebar {
	padding-top: 17px;
	max-width: 360px;
	flex-grow: 1;
	@media (max-width: 768px){
		order: -1;
		margin: 0 auto;
	}
}
.reviews__info-list {
	border: 1px solid #f5f5f5;
	border-radius: 10px;
	padding: 5px 20px;
	padding-top: 12px;
	list-style-type: none;
	margin: 0;
	b {
		font-weight: 500;
		font-size: 12px;
		text-transform: uppercase;
		max-width: 225px;
		flex-grow: 1;
		line-height: 20px;
	}
	li {
		border-bottom: 1px solid #f5f5f5;
		padding-bottom: 12px;
		padding-top: 7px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:last-child {
			border-bottom: none;
		}
	}
	@media (max-width: $mob) {
		padding-bottom: 0;
		li:last-child {
			padding-bottom: 8px;
		}
	}
}
.reviews__info-icons {
	display: flex;
	align-items: center;
	img {
		margin-left: 13px;
		width: 14px;
	}
	svg {
		fill: #fecc00;
		width: 15px;
		margin-left: 13px;
	}
	.reviews__info-flag {
		width: 21px;
		margin-left: 5px;
	}
}


/*Отзывы*/
.reviews__list {
	max-width: 1140px;
	margin: 0 auto;
	width: 100%;
	padding-top: 46px;
	margin-bottom: 100px;
	@media (max-width: $mob) {
		margin-bottom: 50px;
	}
}
.reviews__item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 14px;
}

.reviews__box {
	border: 1px solid #ddd;
	border-radius: 8px;
	padding-right: 75px;
	padding-left: 30px;
	padding-top: 18px;
	padding-bottom: 18px;
	display: flex;
	align-items: flex-start;
	margin-bottom: 4px;
	@media (max-width: $mob) {
		flex-wrap: wrap;
		padding-left: 10px;
		padding-right: 10px;
	}
}
.reviews__rating {
	min-width: 24px;
	max-width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 2px solid #98d8a0;
	position: relative;
	margin-right: 26px;
	margin-top: 10px;
	img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 11px;
	}
	&--minus {
		border-color: #e999a0;
		&:before {
			width: 10px;
			height: 2px;
			background-color: #e999a0;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			content: '';
		}
	}
	@media (max-width: $mob) {
		align-content: center;
	}
}
.reviews__img {
	min-width: 60px;
	max-width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 12px;
}
.reviews__box-info {
	margin-top: 10px;
	margin-bottom: 0;
	max-width: 160px;
	flex-grow: 1;
	strong {
		font-size: 15px;
		font-weight: 500;
		color: #313134;
		margin-bottom: 5px;
		display: block;
	}
	time {
		font-size: 13px;
		color: #848488;
	}
}
.reviews__box-text {
	margin-left: auto;
	max-width: 720px;
	flex-grow: 1;
	p {
		font-size: 14px;
		line-height: 20px;
		margin-top: 10px;
		margin-bottom: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
	@media (max-width: $mob) {
		width: 100%;
	}
}

.reviews__expand-btn {
	margin: 0 auto;
}

.reviews__form {
	margin-top: 49px;
	display: flex;
	max-width: 712px;
	width: 100%;
	justify-content: space-between;
	align-items: flex-start;
	@media (max-width: $mob) {
		flex-wrap: wrap;
		padding: 0 10px;
		box-sizing: border-box;
	}
}
.reviews__form-avatar {
	height: 60px;
	min-width: 60px;
	max-width: 60px;
	border-radius: 50%;
	background-color: #dddde4;
	margin-right: 17px;
	@media (max-width: $mob) {
		margin-left: auto;
		margin-right: auto;
	}
}
.reviews__form-info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	input {
		border: 1px solid #dae5ed;
		outline: none;
		border-radius: 5px;
		padding: 13px 21px;
		font-size: 14px;
		font-family: "Gotham Pro","Arial",sans-serif;
		color: #c6c6c6;
		max-width: 311px;
		box-sizing: border-box;
		flex-grow: 1;
	}
	textarea {
		margin-top: 9px;
		width: 100%;
		font-size: 14px;
		font-family: "Gotham Pro","Arial",sans-serif;
		color: #c6c6c6;
		border: 1px solid #dae5ed;
		border-radius: 5px;
		outline: none;
		resize: none;
		padding: 13px 21px;
		height: 121px;
		box-sizing: border-box;
		margin-bottom: 11px;
	}
	label {
		color: #313134;
		font-size: 13px;
		width: 100%;
		margin-bottom: 8px;
		&:before {
			background-color: #fecc00;
			border-radius: 3px;
			content: '';
			width: 24px;
			height: 24px;
			display: inline-block;
			vertical-align: middle;
			margin-top: -3px;
			margin-right: 10px;
		}
	}
	input[type="checkbox"] {
		display: none;
		&:checked+label:before {
			background-image: url(../images/check.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 12px auto;
		}
	}
	@media (max-width: $mob) {
		input {
			margin-top: 10px;
		}
		label {
			font-size: 11px;
			margin-bottom: 12px;
			&:before {
				width: 18px;
				height: 18px;
				margin-right: 5px;
			}
		}
		input[type="checkbox"]:checked+label:before {
			background-size: 9px auto;
		}
	}
}
.reviews__form-btn {
	max-width: 195px;
	min-width: 195px;
	height: 35px;
	display: block;
	line-height: auto;
	box-sizing: border-box;
	text-align: center;
	border-radius: 35px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	@media (max-width: $mob) {
		margin-left: auto;
		margin-right: auto;
	}
}