.search {
  position: absolute;
  z-index: 20;
  display: none;
  justify-content: space-between;
  align-items: center;
  left: 20px;
  top: 500px;
  width: 150px;
  
  @media (min-width: $mob) {
    position: static;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0;
  }
  
  &:hover {
    color: $bets-yellow;
  }
  
  &__link {
    cursor: default;
    color: $search-color;
    
    @media (min-width: $mob) {
      cursor: pointer;
    }
    
    &:hover {
      @media (min-width: $mob) {
        color: $bets-yellow;
      }
    }
  }
  
  &__input {
    padding-left: 8px;
    font-family: $gotham;
    font-size: 14px;
    line-height: 24px;
    font-weight: 100;
    color: $search-color;
    background-color: $menu-back;
    border: none;
    outline: none;
    
    &:focus {
      outline: 1px solid $search-color;
    }
    
    @media (min-width: $mob) {
      display: none;
    }
  }
  
  &__symbol {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    margin-bottom: -3px;
    fill: currentColor;
    
    @media (min-width: $mob) {
      margin: 17px;;
    }
  }
  
  &_mob-opened {
    display: flex;
  }
  
  &_mob-closed {
    display: none;
    
    @media (min-width: $mob) {
      display: flex;
    }
  }
}

