.slider {
  position: relative;
  display: block;
  width: 100%;
  min-width: 320px;
  min-height: 297px;
  color: $header-color;
  background-color: $slider-back;
  
  @media (min-width: $mob) {
    min-height: 600px;
    max-width: 1155px;
  }
  
  @media (min-width: $desktop) {
    margin: 0 auto;
  }
  
  @media (min-width: $w1550) {
    margin: 0;
  }
  
  &__main-wrap {
  }
  
  &__controls {
    position: absolute;
    z-index: 3;
    top: 500px;
    left: 16px;
    top: 266px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 26px;
    
    @media (min-width: $mob) {
      left: 109px;
      top: 548px;
    }
  }
  
  &:before {
    position: absolute;
    display: block;
    content: '';
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 144px;
    height: 278px;
    background: url('../images/star.svg') 32px top no-repeat,
      url('../images/star.svg') -66px 52px no-repeat,
      url('../images/star.svg') -35px 140px no-repeat;
    background-size: 45px 43px, 110px 106px, 177px 170px;
    opacity: 0.54;

    @media (min-width: $mob) {
      height: 564px;
      width: 291px;
      background: url('../images/star.svg') 64px top no-repeat,
      url('../images/star.svg') -132px 113px no-repeat,
      url('../images/star.svg') -65px 290px no-repeat;
      background-size: 91px 87px, 219px 209px, 354px 340px;
    }
  }
  
  &__btn {
    display: none;
  }
  
  &__arrow {
    width: 26px;
    height: 18px;
    margin: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 26px 18px;
    
    &_prev {
      background-image: url('../images/arrow-left.png');
      
      &:hover {
        background-image: url('../images/arrow-left-hvr.png');
      }
    }
    
    &_next {
      background-image: url('../images/arrow-right.png');
      
      &:hover {
        background-image: url('../images/arrow-right-hvr.png');
      }
    }
    
  }
  
  &__label {
    width: 6px;
    height: 6px;
    margin: 0;
    padding: 0;
    background: white;
    opacity: 0.5;
    border: 1px solid transparent;
    border-radius: 50%;
    
  }
  
  &__btn_1:checked ~ &__controls &__label_1,
  &__btn_2:checked ~ &__controls &__label_2,
  &__btn_3:checked ~ &__controls &__label_3,
  &__btn_4:checked ~ &__controls &__label_4 {
    background-color: $bets-yellow;
    opacity: 1;
    cursor: default;
  }
  
  &__wrap {
    
  }
  
  &__slides-bar {
    
  }
/*
  &__slides-bar {
    display: flex;
    width: 400%;
  }
*/
  

}


