.slider {
  position: relative;
  display: block;
  width: 100%;
  min-width: 320px;
  min-height: 297px;
  color: $header-color;
  background-color: $slider-back;
  
  @media (min-width: $mob) {
    min-height: 600px;
    max-width: 1155px;
  }
  
  @media (min-width: $desktop) {
    margin: 0 auto;
  }
  
  @media (min-width: $w1550) {
    margin: 0;
  }
  
  &:after {
    position: absolute;
    display: block;
    content: '';
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 144px;
    height: 278px;
    background: url('../images/star.svg') 32px top no-repeat,
      url('../images/star.svg') -66px 52px no-repeat,
      url('../images/star.svg') -35px 140px no-repeat;
    background-size: 45px 43px, 110px 106px, 177px 170px;
    opacity: 0.54;
  
    @media (min-width: $mob) {
      height: 564px;
      width: 291px;
      background: url('../images/star.svg') 64px top no-repeat,
      url('../images/star.svg') -132px 113px no-repeat,
      url('../images/star.svg') -65px 290px no-repeat;
      background-size: 91px 87px, 219px 209px, 354px 340px;
    }
  }
}

.swiper-container {
  width: 100%;
  min-width: 320px;
  height: 297px;
  
  @media (min-width: $mob) {
    min-height: 600px;
    max-width: 1155px;
  }
  
  .swiper-pagination {
    top: 243px;
    width: 216px!important;
    
    @media (min-width: $mob) {
      top: 525px;
      width: 400px!important;
    }
  }
  
  .swiper-pagination-bullet {
    background-color: $page-color;
    margin-left: 8px!important;
    margin-right: 8px!important;

    &-active {
      background-color: $bets-yellow;
    }
  }
  
 .swiper-button-prev {
    z-index: 100;
    left: 16px;
    top: 266px;
    width: 26px;
    height: 18px;
    background-size: 26px 18px;
    background-image: url('../images/arrow-left.png');
    
    @media (min-width: $mob) {
      left: 109px;
      top: 548px;
    }
  }
   .swiper-button-next {
      left: 170px;
      top: 266px;
      width: 26px;
      height: 18px;
      background-size: 26px 18px;
      background-image: url('../images/arrow-right.png');

      @media (min-width: $mob) {
        left: 263px;
        top: 548px;
      }
  }
}




