.viewmore-btn {
  display: block;
  width: 141px;
  height: 20px;
  padding: 0;
  margin: 0;
  padding-top: 9px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $section-heading;
  border: 1px solid $viewmore-btn-color;
  border-radius: 14px;
  
  &:hover {
    color: $page-color;
    background-color: $viewmore-btn-color;
  }
  
  &_light {
    color: $viewmore-btn-color;
  }
  
  &_all-news {
    width: 221px;
  }
}
