.vk-vidget {
  width: 273px;
  height: 500px;
  margin: 0 auto 20px;
  padding: 0;
  
  @media (min-width: $mob) {
    margin: 0;
    margin-top: 60px;
  }
  
  &:hover {
    box-shadow: 0 25px 50px 3px $shadow-color;
  }

}
